<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Travel Planner</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    
  </head>
 <body>
    <div id="app">

      <div id= "header">
        <h1>Travel Planner</h1>
      </div>

      <div id="destination">
        <label for="dest">Enter Destination</label>
        <input type="text" id="dest">
      </div>

      <div id="startDate">
        <label for="start">Enter Start Date</label>
        <input type="date" id="start">
      </div>

      <div id="endDate">
        <label for="end">Enter End Date</label>
        <input type="date" id="end">
      </div>

      

      <div id="generate">
        <button id="genBttn" type = "submit"> Generate Trip </button>
      </div>

      <div id="journal" class ="holder entry">
        <div id = 'upcoming'  class = "title">You have no upcoming trips</div>
        <div id = "entryHolder">
          <div id = "disPic"></div> 
          <div id = "disDest"></div> 
          <div id = "disCoun"></div> 
          <div id = "disStart"></div> 
          <div id = "disEnd"></div>
          <div id = "disDur"></div>
          <div id = "disHigh"></div>
          <div id = "disLow"></div>

        </div>
      </div>

      <div id="cancel">
        <button id="canBttn" type = "submit"> Cancel your trip </button>
      </div>

    </div>
    
  <script src="main.js" type="text/javascript"></script>

</body>
</html>