$font-color: rgb(70, 70, 70);
$gray: rgb(161, 161, 161);

body{
    background: $font-color;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-template-rows:repeat(8, auto);
    grid-template-areas:
      "header"
      "dest"
      "start"
      "end"
      "genBttn"
      "journal"
      "cancel"
      "footer";
    width:400px;
    margin: auto;
    background: #ffffff;
    color: $font-color;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
}

.title {
    padding: 5px;
}



#journal {
    grid-area:journal;
    margin: 20px 0px;
    padding: 10px;
    color:white;
    background-color: $gray;
}

#disPic {
    object-fit:cover;
    width: 380px;
}

#genBttn{
    width: 100%;
    height: 100px;
    background: #2600ff;
    color: white;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

#canBttn{
    width: 100%;
    height: 50px;
    background: #ffffff;
    color: $font-color;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    border: none;
    
}

#footer{
    grid-area:footer;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
img {
    width: 100%;
    height: auto;
}


label{
    display:block;
    font-size: 20px;
}

input{
    display:block;
    width: 95%;
    background: $gray;
    color:white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    padding:5px;
}



h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color:white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 5px;
    width: 95%;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 

/* Medium Screens */
@media (min-width:801px) {

#app{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px auto 100px;
    grid-template-areas:
        "header journal"
        "dest journal"
        "start journal"
        "end journal"
        "genBttn journal"
        "cancel journal"
        "footer footer"
    ;
    width:800px;
    


}

#journal {
    margin: 0px 0px;
    padding: 50px 10px;
    
}
}